@if (data(); as data) {
  <div class="page">
    <section>
      <div class="counter">{{ counter() }}</div>

      <div class="top-flex">
        @if (data.game.winner) {
          <div class="winner-container">
            <div class="game-winner">The winner is {{ data.game.winner.username }}</div>
          </div>
        }

        <div>
          <div class="card black-card">{{ data.round.promptCard.text }}</div>
          @if (isCzar()) {
            <button
              class="confirm-selection-btn"
              (click)="handleVoting()"
              [disabled]="!selectedRoundPick() || !canVote()"
            >
              Vote Card
            </button>
          } @else {
            <button
              class="confirm-selection-btn"
              (click)="handleCardSubmit()"
              [disabled]="!selectedAnswerCard() || !canSubmitAnswerCard()"
            >
              Play Card
            </button>
          }
        </div>

        @for (card of data.round.picks; track $index) {
          <button
            class="card white-card czar-pick"
            [ngClass]="{
              chosen: selectedRoundPick()?.id === card.id,
              selectable: canVote(),
              winner: isCardWinner(card),
            }"
            (click)="selectRoundPick(card)"
            [disabled]="!canVote()"
          >
            {{ card.text }}
          </button>
        }
      </div>
    </section>

    <!-- SELECTED WHITE CARD DISPLAY -->
    <main class="white-grid">
      @for (card of handPick(); track $index) {
        <button
          class="card small white-card hand-pick"
          [ngClass]="{
            chosen: selectedAnswerCard()?.id === card.id,
            selectable: !selectedAnswerCard() && !isCzar(),
          }"
          (click)="selectCard(card)"
          [disabled]="isCzar()"
        >
          {{ card.text }}
        </button>
      }
    </main>

    <aside class="bottom-section">
      <app-game-player-list
        [players]="data.game.players"
        [currentUser]="currentPlayer() ?? null"
        [czar]="data.round.czar"
        [winner]="data.round.winner || null"
      ></app-game-player-list>
    </aside>
  </div>
}
